qgroundcontrol/.idea/
qgroundcontrol/.vscode/
qgroundcontrol/cmake-build-*/
qgroundcontrol/out/
qgroundcontrol/libs/lib/Frameworks/GStreamer.framework
qgroundcontrol/*_qmlcache.qrc
qgroundcontrol/*.swp
qgroundcontrol/*.nfs
qgroundcontrol/CMakeFiles
qgroundcontrol/tags
qgroundcontrol/build*/
qgroundcontrol/obj
qgroundcontrol/.DS_Store
qgroundcontrol/*.log
qgroundcontrol/*~
qgroundcontrol/*~.skp
qgroundcontrol/bin/*.exe
qgroundcontrol/bin/*.txt
qgroundcontrol/bin/mac
qgroundcontrol/*pro.user*
qgroundcontrol/.qmake.stash
qgroundcontrol/qrc_*.cpp
qgroundcontrol/*.Debug
qgroundcontrol/*.Release
qgroundcontrol/tmp
qgroundcontrol/debug
qgroundcontrol/release
qgroundcontrol//qgroundcontrol
qgroundcontrol/qgroundcontrol.xcodeproj/**
qgroundcontrol/doc/html
qgroundcontrol/doc/doxy.log
qgroundcontrol/deploy/mac
qgroundcontrol/deploy/linux
qgroundcontrol/controller_log*
qgroundcontrol/user_config.pri
qgroundcontrol/*.app
qgroundcontrol/*.ncb
qgroundcontrol/*.vcproj
qgroundcontrol/*.vcxproj*
qgroundcontrol/*.sdf
qgroundcontrol/*.ipch
qgroundcontrol/*.pdb
qgroundcontrol/*.sln
qgroundcontrol/*.sln
qgroundcontrol/*.vcproj
qgroundcontrol/*.user
qgroundcontrol/*.ncb
qgroundcontrol/*.idb
qgroundcontrol/*.project
qgroundcontrol/*.cproject
qgroundcontrol/*.sln
qgroundcontrol/*.suo
qgroundcontrol/*.uhf.txt
qgroundcontrol/*.opensdf
qgroundcontrol/thirdParty/qserialport-build-desktop/
qgroundcontrol/thirdParty/qserialport/bin/
qgroundcontrol/thirdParty/qserialport/lib/
qgroundcontrol/libs/thirdParty/libxbee/lib/
qgroundcontrol/GeneratedFiles/
qgroundcontrol/gstreamer-1.0-android*
qgroundcontrol/localization/qgroundcontrol/

qgroundcontrol/*.autosave
qgroundcontrol/.settings/

# iOS Generated files
qgroundcontrol/ios/iOSForAppStore-Info.plist

# Generated files
qgroundcontrol/moc_*
qgroundcontrol/ui_*
qgroundcontrol/*.o
qgroundcontrol/*.moc
qgroundcontrol/*.prl

# android
qgroundcontrol/android/local.properties
qgroundcontrol/android/gradle.properties

# doxygen
qgroundcontrol/src/html/
qgroundcontrol/src/latex/

# vagrant
qgroundcontrol/.vagrant/
qgroundcontrol/Qt*-linux*.tar.*

qgroundcontrol/.vs/

# vitepress - user guide
qgroundcontrol/node_modules/
qgroundcontrol/docs/.vitepress/cache/
qgroundcontrol/docs/.vitepress/dist/